
body {
    font-size: 16px;
    margin: 10px;
    padding: 1rem;
}
/* header */
header {
    text-align: left ;
    background-color: white;
    color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: black;
}
nav .logo {
    font-size: 40px;
    font-weight: bold; 
    margin-top: 0;
    margin-bottom: 0;

}

.icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.icons a {
    color: #000;
    text-decoration: none;  
}

/*index*/

.pakke-box {
    background-color: rgb(211, 203, 193); 
    padding: 20px; 
    text-align:right ; 
    max-width: 600px; 
    margin: 20px auto; 
  }

.pakke-title {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 15px; 
  }
  
  .pakke-text {
    font-size: 16px; 
    color: #333; 
    margin-bottom: 20px; 
  }
  
  .pakke-button {
    background-color: white; 
    padding: 10px 20px; 
    border: none; 
    font-size: 14px; 
    cursor: pointer; 
    text-transform: uppercase;
    font-weight: bold;
  }
  

.produkt-buttons button {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px 14px;
    cursor: pointer;
  }

 
.produkter article img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0% ;

}

.produkter article h3 {
    font-size: 1.2rem;
    margin-top: 0% ;
    color: #333;
}

.produkter article p {
    margin: 0%;
    margin-bottom: 10px;
}


.katagorier {
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 10px;
}

.katagorier div {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.katagorier article {
    border: 1px solid #000;
    height: 150px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.katagorier article.stor {
    grid-row: 4 / 6; 
    border: 1px solid #000;
    height: auto;

}

.Anmeldelser article {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

.Anmeldelser article img {
    width: 100px;
    height: 100px;
}

/* Footer */
section .logo a {
    text-decoration: none;
    color: #000;
}

.bold {
    font-weight: bold;
}

#Snarveier {
    list-style-type: none;
    padding: 0;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
#Snarveier a {
    text-decoration: none;
    color: #000;
}

#Sosiale-medier {
    list-style-type: none;
    padding: 0;
    gap: 15px;
    display: flex;
    flex-direction: column;
    font-size: larger;
}
#Sosiale-medier a {
    text-decoration: none;
    color: #000;
}

/* chechout */
.shopping-bag h1 {
    text-transform: uppercase;
}


.shopping-bag article img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 0% ;

}

.shopping-bag article h3 {
    font-size: 1.2rem;
    margin: 0% ;
    color: #333;
}

.shopping-bag article p {
    margin: 0%;
}

.dine-opplysninger h1 {
    text-transform: uppercase;
}
.dine-opplysninger form {
    display: flex;
    flex-direction: column;
}

.dine-opplysninger input {
    width: 100%; 
    padding: 5px; 
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
    font-size: 16px; 
    box-sizing: border-box; 
    height: 40px;
}
.knpp{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.levering h1 {
    text-transform: uppercase;
}

.levering form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.levering form h3 {
    font-weight: bold;
}

.levering label {
    margin-bottom: 10px;
}
.betaling h1 {
    text-transform: uppercase;
}

.betaling form {
    display: flex;
    flex-direction: column;
}
.betaling input {
    height: 40px;
}
.knp {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkboxes input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 0%;
    width: 15px; 
    height: 15px; 
}
/* produkter */
.breadcrumb {
    margin-top: 20px;
    margin-bottom: 10px;
}
.breadcrumb a {
    list-style-type: none;
    text-decoration: none;
    color: #000;
}

#proprodukter img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0% ;
}
#merkenavn {
    text-transform: uppercase;
    text-decoration: underline;
}
aside h1 {
    margin-left: 40px;
}

aside img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0% ;
}
aside figcaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* strek over footer */
hr {
    border: none;
    border-top: 2px solid #ccc; 
    margin: 60px 0; 
}


@media (min-width: 768px) {
    header {
        text-align: left;
        padding: 2rem;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
    header {
        padding: 2rem 3rem;
    }
}